.main-container{
  width: 50%;
  margin: 20px auto;
  
  
}
.heading{
  text-align: center;
  color: blue;
  font-size: large;
} 
 
#in{
  width:80%;
  padding: 10px;
  margin: 0px 10px;
  border-radius: 5px;
  margin-left: 50px;
}
.btn{
  background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn1{
  background-color: red; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 30px;
    /* float: right; */
}
.btn2{
  background-color:green; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* float: right; */
}
 .htt{
  display: flex;
  justify-content: space-between;
  line-height: 50px;
   font-size: larger;
   padding: 10px 42px;

} 
span{
  margin-left: 15px;
}
#check{
  text-decoration: line-through;
  
}

